body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #111;
    color: #fff;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
}

.name {
    font-size: 5em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.name:hover {
    cursor:default;
}

.description {
    font-size: 1.2em;
    color: #808080;
    margin-bottom: 15px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease;
}

.description.fade-out {
    opacity: 0 !important;
    transition: opacity 0.5s ease-in-out;
}

.description:hover {
    color: #fff;
    transform: scale(1.1);
}

.description:hover:not(.fade-out),
.description:hover.fade-out {
    opacity: 1 !important;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease;
}

#typing-cursor {
    animation: blink 1.3s infinite alternate;
}

.links {
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.icon {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 1em;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.icon i {
    display: inline-block;
    vertical-align: middle;
}

.icon:hover {
    color: #808080;
    transform: scale(1.1);
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 0;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
