body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #111;
    color: #fff;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
}

.name {
    font-size: 5em;
    margin-bottom: 8px;
}

#typing-cursor {
    animation: blink 0.7s infinite alternate;
}

.links {
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}

.icon {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1em;
}

.icon:hover {
    color: #808080;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 0;
}